In [30]:
# Linear Regression without package and using least square method

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
lR=pd.read_csv('D:\Education\College\sem 6\Machine Learning\lab\Salary_data.csv')
lR.shape
sum(lR.isnull().sum())

0

In [5]:
lR.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [6]:
# Split the dataset in to features(X) and Labels (Y)
X=lR['YearsExperience'].values
Y=lR['Salary'].values
X=np.array([X]).reshape((-1,1))
X

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [7]:
mean_x=np.mean(X)
mean_y=np.mean(Y)# least square method- its a statistical method to get best fit line,y=mx+c here y is dependent variable,m=slope,c=bias

In [8]:
n=len(X)

In [9]:
print(n)

30

In [12]:
num=0
den=0
for i in range(n):
    num+=(X[i]-mean_x)*(Y[i]-mean_y)
    den+=(X[i]-mean_x)**2
    m=num/den
    c=mean_y-(m*mean_x)
    print(m,c)

[8700.94936709] [29771.9556962]
[8093.85766866] [32997.63625385]
[8677.46636401] [29896.72871924]
[8885.41415142] [28791.83280877]
[9266.23308517] [26768.41487411]
[9169.5167326] [27282.30109414]
[9015.02547959] [28103.16461846]
[9077.54843519] [27770.95931433]
[8896.83402931] [28731.15519095]
[8975.2387651] [28314.56469477]
[8976.74577699] [28306.55743824]
[9092.52700737] [27691.37316752]
[9188.49107291] [27181.48409927]
[9284.04757584] [26673.76054703]
[9344.13673723] [26354.48680287]
[9361.58943059] [26261.75482548]
[9378.6785614] [26170.95457708]
[9377.71316558] [26176.08404689]
[9376.88186271] [26180.50103612]
[9455.52514498] [25762.643063]
[9479.83478506] [25633.47784204]
[9569.89089892] [25154.97969042]
[9582.42040587] [25088.40624347]
[9824.87011153] [23800.19014076]
[9828.82378929] [23779.18293293]
[9660.60187201] [24673.0020534]
[9673.93171076] [24602.17617685]
[9559.87325289] [25208.20678296]
[9528.89193186] [25372.82086872]
[9449.96232146] [25792.20019867]